


body {
    font-size: 16px;
    max-width: 100%;
    height: 100vh;
    margin: auto;
    background: lavender;
}

header {
    background-color: #4c1569;
    padding-left: .5em;
    height: 20vh;
    -webkit-box-shadow:0 0 25px white inset;
    -moz-box-shadow: 0 0 25px #4c1569 inset;
    box-shadow:0 0 25px #ffffb0 inset;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    color: white;
    font-size: 6em;
    display: inline-block;
    position: relative;
    bottom: 40%;
    left: 5%;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;



}

img[src="assets/images/lakers.logo.jpg"] {
    width: 13%;
    padding: 0 0 2% 2%;
    height: 15vh;
    
}
.header_panel {
    display: inline-block;
    position: relative;
    left: 10%;
    bottom: 35%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    text-align: center;

}

.header_panel h4 {
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ffffb0;
    font-size: 1.2em;
}

a.panel_link:hover, a.panel_link:active {
    color: #ffffb0;
}
a.panel_link {
    text-decoration: none;
    color: white;
}


.games-played {
    height: 15vh;
    width: 10%;
    background-color: #ffffb0;
    box-shadow: 10px 20px 65px #9473FE;
    border: 2px solid #9473FE;
    border-radius: .75em;
    font-size:.90em;
    font-family: 'Press Start 2P', cursive;
    color: #4417D4;
    text-shadow: 6px 6px 8px white, 0 0 10px #9473FE, 0 0 10px #9473FE;
    text-align: center;
    margin-top: 3%;
    margin-left: 4%;

}

.attempts {
    height: 15vh;
    width: 10%;
    background-color: #ffffb0;
    box-shadow: 10px 20px 65px #9473FE;
    border: 2px solid #9473FE;
    border-radius: .75em;
    font-size:.90em;
    font-family: 'Press Start 2P', cursive;
    color: #4417D4;
    text-shadow: 6px 6px 8px white, 0 0 10px #9473FE, 0 0 10px #9473FE;
    text-align: center;
    margin-top: 3%;
    margin-left: 4%;

}
.accuracy {
    height: 15vh;
    width: 10%;
    background-color: #ffffb0;
    box-shadow: 10px 20px 65px #9473FE;
    border: 2px solid #9473FE;
    border-radius: .75em;
    font-size:.90em;
    font-family: 'Press Start 2P', cursive;
    color: #4417D4;
    text-shadow: 6px 6px 8px white, 0 0 10px #9473FE, 0 0 10px #9473FE;
    text-align: center;
    margin-top: 3%;
    margin-left: 4%;
}
button {
    width: 10%;
    height: 4em;
    margin-top: 3%;
    margin-left: 4%;
    background-color: #4c1569;
    color: white;
    font-family: 'Press Start 2P', cursive;
    border: #ffffb0 1px solid;
    font-size: .76em;
}



.game-area {
    width: 67%;
    height: 67%;
    padding: 1.5em;
    background-color: #ffffb0;
    border-radius: .75em;
    border: 2px solid #9473FE;
    -webkit-box-shadow:0 0 10px white inset;
    -moz-box-shadow: 0 0 15px #4c1569 inset;
    box-shadow:0 0 25px #9473FE inset;
    position: relative;
    left: 22%;
    bottom: 72%;

}

.card {
    width: 15%;
    height: 30%;
    display: inline-block;
    position: relative;
    margin: .3em;



}
.front {
    width: 100%;
    height: 100%;
    position: absolute;
     border: 1px solid #9473FE;
    margin-left: 1%;
    -webkit-box-shadow:0 0 10px white inset;
    -moz-box-shadow: 0 0 15px #4c1569 inset;
    box-shadow:0 0 10px #9473FE inset;



}
.back {
    width:   100%;
    height: 100%;
    border: 1px solid #9473FE;
    position: absolute;
    -webkit-box-shadow:0 0 15px white;
    -moz-box-shadow: 0 0 20px #4c1569;
    box-shadow:0 0 15px #9473FE;


}
img  {
    width: 100%;
    height: 100%;


}