body {
    background-color: #4c1569;

}

.jumbotron_mobile {
    background-color: #4c1569;
    font-family: 'Brush Script MT', cursive;
    color: white;
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 200;

}




#arena-holder {
    border-radius: 130px 130px 130px 130px;
    -moz-border-radius: 130px 130px 130px 130px;
    -webkit-border-radius: 130px 130px 130px 130px;
    border: 16px double #FDB927;
    background-image: url("assets/images/jumbotron_4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: border-box;
    height: 40%;

}


.active-area-holder {
    transform: rotateX(360deg);
    transform-style: preserve-3d;
    transition: 3s;
}



.top-holder {
    text-align: center;
}

#medium_header {
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;
    font-family: 'Brush Script MT', cursive;
    font-size: 4em;
    line-height: 2.2;
    margin: 0;

}

.value {
    background: #4c1569;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;
    text-align: center;
}

.jumbotron_mobile h1, .jumbotron_mobile h2 {
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;
    font-size: 10vw;
    text-align: center;

}

.jumbotron_mobile h2 {
    font-size: 3vw;
}

.jumbotron_mobile > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.label {
    background: #4c1569;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;
    line-height: 4em;
}

.reset {
    background: #4c1569;
    font-family: 'Press Start 2P', cursive;
    color: white;
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;
    line-height: 2.5em;

}

#game-area {
    height: 25vh;

}

.cardRow {
    height: 60%;
    margin: 1em 0;
}

.back {
    position: absolute;
    /*opacity: .4;*/
    border: 2px solid #fab728;
    border-radius: 27px 27px 27px 27px;


}

.front {
    position: absolute;
    border: 2px solid #fab728;
    border-radius: 27px 27px 27px 27px;
}

.players {
    width: 100%;
    height: 100%;
    border-radius: 27px 27px 27px 27px;
}

#videoModal {
    top: 35%;
    outline: none;
}

.modal-body {
    height: 55%;
    background-color: #4c1569;
    -webkit-box-shadow: 10px 85px 156px 17px rgba(247,215,247,1);
    -moz-box-shadow: 10px 85px 156px 17px rgba(247,215,247,1);
    box-shadow: 10px 85px 156px 17px rgba(247,215,247,1);

}

.modal-body h3 {
    color: #fab728;
}

.close {
    color: #fab728;
    opacity: 1;
    text-shadow: none;
}




iframe {
    height: 90%;
    width: 100%;
}

#main_dunk {
    top: 5%;
    height: 55%;
    float: none;
}




