.jumbotron {
    background-color: #4c1569;
    font-family: 'Brush Script MT', cursive;
    color: white;
    -webkit-box-shadow: 0 0 25px white inset;
    -moz-box-shadow: 0 0 25px #4c1569 inset;
    box-shadow: 0 0 25px #ffffb0 inset;

}

.jumbotron h1  {
    text-shadow: 2px 2px 4px black, 0 0 50px #f7d795, 0 0 20px #ecac40;

}
div#game-area{
    background: lavender;
    border: #4c1569 1px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin: 0 auto;

   /* width: 50%;*/

}
div#game-area > div{
    background: url(assets/images/cardlogo.jpg);
    border: #4c1569 1px solid;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    cursor: pointer;

}
/*
.card {
    width: 16%;
    height: 30%;
    display: inline-block;
    position: relative;
}
.back {
    position: absolute;
}
.front {
    position: absolute;
}
img {
    width: 100%;
    height: 100%;
}*/
